# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### test resources ###
src/main/resources/formatted.txt
src/main/resources/unformatted.txt
src/test/resources/test_samples/*
