[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "3.0.9"

[dev-packages]
lxml = "4.6.3"
Pillow = "8.4.0"
wemake-python-styleguide = "0.15.3"

[requires]
python_version = "3.9"
